<div class="container">
    <div class="instagram-phone">
        <img src="https://i.imgur.com/t08gnKa.jpg" alt="">
    </div>
    <div class="instagram-continue">
        <div class="group">
            <img src="https://i.imgur.com/KUPVvhi.png"  class="instagram-logo img-fluid" alt="Instagram logo">
            <div class="profile-photo">
                <img src="https://i.imgur.com/EMhNOON.png" class="img-fluid foto-perfil" alt="Foto de perfil">
            </div>
            <div class="btn-primary btn instagram-login">Continue como</div>
            <div class="btn-transparent btn instagram-logout">Remover conta</div>
        </div>
        <div class="group">
            <p class="not-account">Não é Tais?</p>
            <p class="notaccount">
                <span class="link-blue link-primary">Alternar contas</span>
                ou
                <span class="link-blue link-primary">Inscreva-se</span>
            </p>
        </div>
        <div class="get-the-app">
            <p class="get-app">Baixe o aplicativo</p>
            <div class="download">
                <a href="#" class="app-download"></a>
                <a href="#" class="app-download"></a>
            </div>
        </div>
    </div>
</div>